<h2>Index of Pokemons</h2>
<table class="table table-striped">
  <tbody>
    <a href="/pokemons/new" class="btn btn-primary">New</a>
    {{#each pokemons}}
    <tr>
      <td>{{id}}</td>
      <td>{{name}}</td>
      <td>{{cp}}</td>
      <td>{{type}}</td>
      <td><a href="/pokemons/{{id}}" class="btn btn-primary">Show</a></td>
      <td><a href="/pokemons/{{id}}/edit" class="btn btn-secondary">Edit</a></td>
      <td>
        <form method="POST" action="/pokemons/{{id}}?_method=DELETE">
        <input class="btn btn-danger" type="submit" value="Delete" />
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>