<h2>Index of Clocks</h2>
<table class="table table-striped">
  <tbody>
    <button type="button" class="btn btn-info" style="margin: 20px 0px 20px 0px">New</button>
    {{#each clocks}}
    <tr>
      <td>{{id}}</td>
      <td>{{model}}</td>
      <td>{{manufacturer}}</td>
      <td>{{type}}</td>
      <td><a href="/clocks/{{id}}" class="btn btn-primary">Show</a></td>
      <td><a href="/clocks/{{id}}/edit" class="btn btn-secondary">Edit</a></td>
      <td><form method="POST" action="/clocks/{{id}}?_method=DELETE">
        <input class="btn btn-danger" type="submit" value="Delete" />
      </form></td>
    </tr>
    {{/each}}
  </tbody>
</table>
