<h2>Index of Videogames</h2>
<table class="table table-striped">
  <tbody>
    <button type="button" class="btn btn-info" style="margin: 20px 0px 20px 0px">New</button>
    {{#each videogames}}
    <tr>
      <td>{{id}}</td>
      <td>{{name}}</td>
      <td>{{distributor}}</td>
      <td>{{type}}</td>
      <td><a href="/videogames/{{id}}" class="btn btn-primary">Show</a></td>
      <td><a href="/videogames/{{id}}/edit" class="btn btn-secondary">Edit</a></td>
      <td><a href="/videogames/{{id}}?_method=DELETE" class="btn btn-danger">Delete</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>